/* Empty. Add your own CSS if you like */
code {
	display: block;
	text-align: center;
	padding: 10px 15px;
	background-color: #f7f7f7;
	border-radius: 8px;
	font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
}